<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns">
    <Name>Visual Magnitude</Name>
    <AddInID>{320dc69c-9d9b-4437-97a1-8ebc62b48ce3}</AddInID>
    <Description/>
    <Version>0.1</Version>
    <Image>Images\noun_421_cc.png</Image>
    <Author>Jakub Cech, Brent Chamberlain</Author>
    <Company/>
    <Date>10/17/2017</Date>
    <Targets>
        <Target name="Desktop" version="10.1"/>
    </Targets>
    <AddIn language="PYTHON" library="xdraw_plugin_addin.py" namespace="xdraw_plugin_addin">
        <ArcMap>
            <Commands>
                <Button caption="Calculate" category="Visual Magnitude" class="CalculateBtn"
                        id="xdraw_plugin_addin.button" image="" message="" tip="">
                    <Help heading=""/>
                </Button>
                <Button caption="Load Elevation Profile" category="Visual Magnitude" class="LoadElevationBtn"
                        id="xdraw_plugin_addin.loadelevationbtn" image="" message="Load elevation profile"
                        tip="Select a file containing elevation profile">
                    <Help heading=""/>
                </Button>
                <Button caption="Load Path" category="Visual Magnitude" class="LoadPathBtn"
                        id="xdraw_plugin_addin.loadpathbtn" image="" message="Load Path"
                        tip="Load path from an image file">
                    <Help heading=""/>
                </Button>
            </Commands>
            <Extensions>
            </Extensions>
            <Toolbars>
                <Toolbar caption="Visual Magnitude" category="Visual Magnitude" id="xdraw_plugin_addin.toolbar"
                         showInitially="true">
                    <Items>
                        <Button refID="xdraw_plugin_addin.button"/>
                        <Button refID="xdraw_plugin_addin.loadelevationbtn"/>
                        <Button refID="xdraw_plugin_addin.loadpathbtn"/>
                    </Items>
                </Toolbar>
            </Toolbars>
            <Menus>
            </Menus>
        </ArcMap>
    </AddIn>
</ESRI.Configuration>